db/
.idea/
.env


# Created by https://www.gitignore.io/api/drupal8
# Edit at https://www.gitignore.io/?templates=drupal8

### Drupal8 ###
# Ignore configuration files that may contain sensitive information
/src/web/sites/*/*settings*.php
/src/web/sites/*/*services*.yml

# Ignore paths that may contain user-generated content
/src/web/sites/*/files
/src/web/sites/*/public
/sites/*/private
/src/web/sites/*/files-public
/src/web/sites/*/files-private

# Ignore paths that may contain temporary files
/src/web/sites/*/translations
/src/web/sites/*/tmp
/src/web/sites/*/cache

# Ignore drupal core (if not versioning drupal sources)
/src/web/core
/src/web/modules/README.txt
/src/web/profiles/README.txt
/src/web/sites/README.txt
/src/web/sites/example.sites.php
/src/web/sites/example.settings.local.php
/src/web/sites/development.services.yml
/src/web/themes/README.txt
/src/web/vendor
/src/web/.csslintrc
/src/web/.editorconfig
/src/web/.eslintignore
/src/web/.eslintrc.json
/src/web/.gitattributes
/src/web/.htaccess
/src/web/autoload.php
/src/web/composer.json
/src/web/composer.lock
/src/web/example.gitignore
/src/web/index.php
/src/web/LICENSE.txt
/src/web/README.txt
/src/web/robots.txt
/src/web/update.php
/src/web/web.config

/src/drush/

/src/web/themes/*/.sass-cache
/src/web/themes/*/*.map
# End of https://www.gitignore.io/api/drupal8
