body {
  background-color: #000000;
}
.navbar-header {
  float: left;
}
.navbar-default {
  text-transform: uppercase;
  background-color: #b7a369ff;
  .navbar-nav > li > a {
    color: #000000;
  }
  menu--account {
    justify-content: end;
  }
}

.main-container {
  padding-top: 40px;
}
