/* page */

.page-header {
  font-family: 'versaversa';
  color: #FFFFFF;
}

// Academy
.path-academy {
  a {
    text-decoration: none;
  }
  .view-content {
    display: flex;
    .views-row {
      position: relative;
      width: 33%;
      margin-right: 15px;
      height: 200px;
      background-color: #FFFFFF;
      .views-field-field-image {
        float: left;
        margin-right: 15px;
      }
      .views-field-title {
        margin: 30px 10px 10px 0;
        height: 100px;
        text-transform: uppercase;
        font-weight: bold;
        .field-content {
          font-family: 'versaversa';
          a {
            color: #b7a369ff;
            font-size: 1.2em;
          }
        }
      }
      .views-field-field-category {
        position: absolute;
        right: 0;
        top: 0;
        margin-bottom: 5px;
        text-transform: uppercase;
        a {
          padding: 2px 5px;
          background-color: #b7a369ff;
          color: #000000;
          font-weight: bold;
        }
      }
      .views-field-field-unit {
        margin-bottom: 5px;
        a {
          margin-right: 5px;
          padding: 2px 8px;
          background-color: #000000;
          border-radius: 4px;
          color: #b7a369ff;
          font-weight: bold;
          font-size: .7em;
        }
      }
      .views-field-field-tags {
        font-size: .7em;
        text-transform: lowercase;
        a {
          color: #555555;
          &:hover {
            color: #555555;
          }
          &:before {
            content: '#';
          }
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.page-node-type-formation {
  .formation {
    .content {
      margin-top: 20px;
      padding: 40px 0;
      background-color: #FFFFFF;
    }
    .page-header {
      padding: 15px;
      margin: 0 auto 20px;
      width: 75%;
      text-align: center;
      color: #000000;
    }

    .field--name-field-video {
      text-align: center;
      video {
        width: 75% !important;
      }
    }
    .field--name-body {
      margin: 40px auto;
      width: 75%;
      text-align: justify;
    }
    .field--name-field-category,
    .field--name-field-unit {
      margin-bottom: 15px;
      text-align: center;
      font-size: 1.5em;
      a {
        text-decoration: none;
        padding: 4px 8px;
        text-transform: uppercase;
        font-weight: bold;
        color: #000000;
        background-color: #b7a369ff;
        border-radius: 4px;
        &:hover {
          background-color: #555555;
        }
      }
    }
    .field--name-field-unit {
      margin-bottom: 0px;
      .field--items {
        display: flex;
        justify-content: center;
        .field--item {
          margin: 0 5px 5px 0;
          &:last-child {
            margin-right: 0;
          }
          a {
            color: #b7a369ff;
            background-color: #000000;
            &:hover {
              background-color: #555555;
            }
          }
        }
      }
    }
    .field--name-field-tags {
      font-size: 1.5em;
      .field--items {
        display: flex;
        justify-content: center;
        .field--item {
          margin-right: 5px;
          a {
            text-transform: lowercase;
            color: #C0C0C0;
            &:before {
              content: '#';
            }
            &:hover {
              color: #505050;
            }
          }
          &:last-child {
            margin-right: 0;
          }
        }

      }
    }
    .author {
      padding:2px 5px;
      background-color: #555555;
      color: #b7a369ff;
      text-align: right;
    }
  }

}


