/* page */

.page-header {
  font-family: 'versaversa';
  color: #FFFFFF;
}

// Academy
.path-academy {
  a {
    text-decoration: none;
  }
  .region-content{
    width: 860px;
    margin: 0 auto;
  }
  .view-content {
    display: flex;
    flex-wrap: wrap;
    .views-row {
      position: relative;
      margin-right: 8px;
      margin-bottom: 15px;
      padding-right: 24px;
      width: 49%;
      height: 120px;
      background-color: #FFFFFF;
      border-radius: 100% 0 0 100%;

      .views-field-field-image {
        float: left;
        margin-right: 40px;

        img {
          border-radius: 100%;
          border: 5px solid #000000;
        }
      }

      .views-field-title {
        margin-top: 10px;
        text-transform: uppercase;
        font-weight: bold;

        .field-content {
          font-family: 'versaversa';

          a {
            color: #b7a369ff;
            font-size: 1.2em;
          }
        }
      }

      .views-field-field-category {
        position: absolute;
        right: -46px;
        bottom: 47px;
        padding: 4px 5px;
        text-align: center;
        width: 120px;
        text-transform: uppercase;
        transform: rotate(-90deg);
        background-color: #b7a369ff;
        color: #000000;
        font-weight: bold;
      }

      .views-field-field-unit {
        margin-bottom: 5px;
        color: #555555;
        font-weight: bold;
      }
    }
  }
}

.page-node-type-formation {
  .content {
    width: 75%;
    margin: 0 auto;
  }

  .formation {
    .page-header {
      padding: 15px;
      margin: 0 auto 5px;
      text-align: center;
      color: #ffffff;
    }

    .author {
      margin-bottom: 15px;
      font-size: 0.8em;
      color: #FFFFFF;
      text-align: center;
    }

    .field--name-field-video {
      text-align: center;
      margin-bottom: 10px;

      video {
        width: 100% !important;
      }
    }

    .field--name-body {
      margin: 10px auto;
      padding: 15px;
      text-align: justify;
      background-color: #ffffff;
    }

    .field--name-field-category,
    .field--name-field-unit {
      float: left;
      margin-bottom: 10px;

      a {
        text-decoration: none;
        padding: 4px 8px;
        text-transform: uppercase;
        font-weight: bold;
        color: #000000;
        background-color: #b7a369ff;

        &:hover {
          background-color: #555555;
        }
      }
    }

    .field--name-field-unit {
      margin-bottom: 0px;

      .field--items {
        display: flex;
        justify-content: center;

        .field--item {
          &:after {
            font-weight: bold;
            content: '/';
            margin: 0 2px;
          }

          &:last-child {
            margin-right: 0;

            &:after {
              content: '';
            }
          }

          a {
            color: #b7a369ff;
            background-color: #000000;

            &:hover {
              background-color: #555555;
            }
          }
        }
      }
    }

    .field--name-field-tags {
      .field--items {
        display: flex;
        justify-content: end;

        .field--item {
          margin-right: 5px;

          a {
            text-transform: lowercase;
            color: #C0C0C0;

            &:before {
              content: '#';

              &:hover {
                color: #505050;
              }
            }

            &:last-child {
              margin-right: 0;
            }
          }

        }
      }
    }
  }
}

.path-user {
  #user-login-form {
    margin-top: 15px;
    label {
      color: #ffffff;
    }
    .btn-primary {
      background-color: #b7a369ff;
      border-color: transparent;
    }
  }
}
